footer {
  height: 10vh;
  background-color: gray;
}

.footer {
  display: flex;
  align-items: center;
}

.brand_name h2 {
  font-weight: 400;
  color: whitesmoke;
}

.menu ul li {
  display: block;
  margin: 3px 0;
}

.menu ul li a:hover {
  border-bottom: 0;
  color: #e6e2e2;
}
